.report-waper{
    width: 90%;
    height: 92%;
    padding: 0px 20px;
    overflow-y: scroll;
}
.title-waper{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}
.font-title{
    font-size: 16px;
}
.font-data{
    font-size: 14px;
}
.pipi-wapper{
    width: 100%;
    height: 68%;
}
.report-details{
    width: 100%;
    height: 154px;
}
.item-waper{
    width: 100%;
    height: 50px;
}
.pipi-shown{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
}
.pipi-items{
    width: 90%;
    padding: 0px 20px;
}
.pipi-title-item{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-family: "SF Pro Text";
}
.pipi-title{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-family: "SF Pro Text";
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.15px;
}
.block-items{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
.font-items{
    font-size: 14px;
    font-family: "SF Pro Text";
    color: #333333;
    font-weight: 300;
    letter-spacing: -0.15px;
}
.progress{
    background-color: #8A59D8;
}
.completed{
    background-color: #E66B00;
}
.closed{
    background-color: #5851E0;
}
.cold{
    background-color: #4E9c2d;
}
.tootle-waper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tootle{
    font-family: "SF Pro Text";
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 0.14px;
    color: #333333;
}
.tootle-font{
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    font-family: "SF Pro Text";
    letter-spacing: -0.15px;
}

.content-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
}

.img-waper{
    display: flex;
    align-items: center;
}
.img-icon{
    width: 20px;
    height: 20px;
}
.rm-status{
    margin-left: 10px;
    font-size: 16px;
}
.icon-right{
    width: 12px;
    height: 18px;
}
.chart{
    height: 100%;
    width: 100%;
}