.presepec-content{
    width: 95%;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c9c9c9;
}
.status{
    width: 99%;
    /* height: 100%; */
}
.status-handle{
    width: 100%;
    /* height: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.status-view{
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    color: white;
    border-radius: 4px;
    background: #A43931;;
}
.title{
    width: 68%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.status-date{
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: white;
    border-radius: 4px;
    text-align: center;
    background-color: #A43931;
}
.date{
    width: 18%;
    display: flex;
    align-items: center;
}
.date-day{
    font-size: 25px;
}
.date-month{
    font-size: 14px;
    height: 100%;
    line-height: 40px;
    color: #767676;
    margin-left: 5px;
}
.status-titl{
    width: 100%;
}
.action-status{
    width: 100%;
    height: 20px;
    color: #A5A5A5;
    font-size: 14px;
}
.status-info{
    width: 100%;
    display: flex;
    height: 35px;
}
.info-item{
    width: 46%;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.info-item-img{
    width: 20px;
    height: 20px;
}
.info-item-content{
    width: 80%;
    height: 100%;
    padding-left: 10px;
    justify-content: center;
}
.label1{
    font-size: 14px;
    font-weight: bold;
    color: #757575;
}
.label2{
    font-size: 12px;
    color: #757575;
}
.icon-right{
    width: 4%;
    height: 100%;
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAgCAYAAAFhkLgdAAAAAXNSR0IArs4c6QAAAXdJREFUSA2tlMFShDAMhlPgBXT0oseV9TX0zX0OmT3KHtZZX0B35Q+TTEsbWlg4QEm/fEmHFjrQY0v+FQU6uv9iwBvcXf0U6igKTHPAQx2hvsgHKn/iQn8fRK7XGHrRfiQK94Ee9vKuz6IJp/gwQEZF9asf43HU//IAF8JSL/T7CSkK7eibx9OCQVe5pAAWk5WUhNNJzT74GgLJc/w6eHP9jk5dIxP+c/xa16ch1rf0o9UD2IJExHAOEtgJ6MgdX+iM0ubF/UgCFtLS+dmitfmSBIVhyyUEcC4hgucSkrCVYMKphFk43H3N3oSnIDZSEk6BaCuCLRBwjZtcIchnsZM5PNWcAKNDy3AJyOZSUNsYE/A35KOE+NCfOzqq3qx/CEMzN10fmFQBnIeKqvelBQKxNLBFgaR4iwKz4lsKFInXFFgkzheoh1104t2/SlxSYLXY3jlj14vFOaGsplhcKiwW28L502h2vFZodnyrMBJvJVTx1kIR/wM/diwp+Pxo/wAAAABJRU5ErkJggg==);
}
.title-waper{
    display: flex;

}
.new{
    width: 6px;
    height: 6px;
    margin-left: 2px;
    border-radius: 10px 10px;
    background-color: #1087EF;
}









