<div class="content">  
    <div *ngFor='let item of paramsValue.lists; let i=index'>
        <div class="content-header">
            <div class="img-waper">
                <img class="img-icon" src="{{item.titleImg}}">
                <div class="rm-status">{{item.title}}</div>
            </div>
            <img id={{i}} *ngIf="item.titleImgRight" class="icon-right {{item.iconStyle}}" src="{{item.titleImgRight}}" (click)= 'toogleDownUp($event,item.defaultShow)'>
        </div>
        <div class="items-waper" *ngIf='item.defaultShow'> 
            <div *ngFor="let child of item.list, let i=index">
                <items [params]= 'child' *ngIf="child.value!='' || child.name === 'Comments'"></items>
            </div>
        </div>
    </div>
    <div class="content-header-add hidden">
        <img class="img-icon" src="assets/imgs/icn_Add.png">
        <div class="rm-status">Add another contact</div>
    </div>
    <input *ngFor="let btn of btns, let i=index" id="i" (click)="submit(i)" class="buttons disable" type="button" value="{{btn.title}}">
    <!-- <input class="buttons disable" type="button" value="{{btn1.title}}"> -->
</div>
<alert class="hidden"></alert>