
<div class="content-list" *ngFor='let item of params, let i=index'>
    <div class="list-msg" *ngIf="item.name">
        <div class="list-title">{{item.name}}</div>
        <div class="list-warning" *ngIf='item.imgSrc' [ngClass] = "{'calender-list': item.placeholder == 'Calendar'}">
            <p *ngIf="item.value!='' && item.placeholder !== 'Calendar'">
                {{item.value}}
            </p>
            <p *ngIf="item.value=='' && item.placeholder !== 'Calendar'">
                {{item.placeholder}}
            </p>
            <input *ngIf="item.placeholder === 'Calendar'" type="date" 
             />
        </div>
        <input *ngIf="!item.imgSrc" type="text" placeholder="{{item.value ==''? item.placeholder : '' }}" value="{{item.value ==''? '' : item.value }}" 
        class="list-warning" [ngStyle]=" {'width': item.name=='Comments'? '100%': '90%'}" (input) = "inputEvent(item.name,$event)">
        <div *ngIf="item.name=='Comments'" class="commer-font">{{inputLength}}/{{inputEnd}}</div>
        <div class="list-icon" *ngIf="item.imgSrc && item.placeholder !== 'Calendar'">
            <img class="{{item.iconStyle}}" src="{{item.imgSrc}}" (click)= "edits(i, item.iconStyle)">
        </div>
    </div>
</div>