.content-list{
    widows: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
    padding: 10px 0px;
}
.list-title{
    color: #333333;	
    font-family: "SF Pro Text";	
    font-size: 16px;	
    letter-spacing: -0.32px;	
    line-height: 24px;
}
p{
    margin: 0px;
}
.list-warning{
    margin-top: 5px;
    border: none;
    width: 90%;
    height: 20px;
    float: left;
    color: #333333;	
    font-family: "SF Pro Text";	
    font-size: 14px;	
    font-weight: 300;	
    letter-spacing: -0.15px;	
    line-height: 20px;
}
.list-icon{
    width: 20px;
    height: 20px;
    float: right;
}
.icon-right{
    width: 12px;
    height: 18px;
    float: right;
}
.icon-down{
    width: 20px;
    height: 12px;
}
.list-msg{
    width: 100%;
}
.comments{
    display: flex;
    justify-content: space-between;
}
.commer-font{
    height: 10px;
    font-size: 12px;
    float: right;
}