
<div class="content-list">
    <div class="list-msg" *ngIf="params.name">
        <div class="list-title">{{params.name}}</div>
        <div class="list-warning" *ngIf='params.imgSrc' [ngClass] = "{'calender-list': params.placeholder == 'Calendar'}">
            <p *ngIf="params.value!='' && params.placeholder !== 'Calendar'">
                {{params.value}}
            </p>
            <input *ngIf="params.placeholder === 'Calendar'" [(ngModel)]="day" type="date" class="datepickerstyle" value="10/15/2019" placeholder="10/16/2019"/>
        </div>
        <input *ngIf="!params.imgSrc" type="text" readonly=true value="{{params.value ==''? '' : params.value }}" 
        class="list-warning" [ngStyle]=" {'width': params.name=='Comments'? '100%': '90%'}" (input) = "inputEvent(params.name,$event)">
        <div *ngIf="params.name=='Comments'" class="commer-font">{{inputLength}}/{{inputEnd}}</div>
        <div class="list-icon" *ngIf="params.imgSrc && params.placeholder !== 'Calendar'">
            <img class="{{params.iconStyle}}" src="{{params.imgSrc}}" (click)='edits(params)'>
        </div>
    </div>
</div>